@import "./vars.scss";

.left-menu {
  width: 320px;
  height: 100vh;

  display: grid;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  grid-template-rows: 89.46px 1fr 40px 52px 40px 48px;
  grid-template-columns: auto;
  grid-template-areas:
    "top-buttons"
    "list-menu"
    "middle-buttons"
    "email"
    "tel"
    "lang";
  overflow: auto;

  &--mod {
    background-color: $ellement-bg-color;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  &__top-buttons {
    grid-area: top-buttons;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &--mod {
      padding: 0 8px 0 24px;
    }
  }

  &__menu {
    grid-area: list-menu;

    &--mod {
      padding-top: 10px;
    }
  }

  &__list-items {
    list-style: none;

    &--mod {
      padding-bottom: 20px;
    }

    & li {
      height: 26px;
      padding: 4px 0;
    }

    & a {
      display: block;
      padding-left: 24px;
      @include font-main($font-family-main, 16px, 24px, -0.2px);
      color: $text-color;
      text-decoration: none;

      border-left: 4px outset transparent;
      border-top: 4px outset transparent;
      border-bottom: 4px outset transparent;
    }
    & a:hover,
    & a:focus {
      color: $text-light-color;
    }

    & a.active {
      padding-left: 20px;
      color: $text-light-color;
      border-left: 4px outset $border-left-color;
    }
  }

  &__middle-buttons {
    grid-area: middle-buttons;
    display: flex;
    justify-content: start;

    &--mod {
      padding-left: 24px;
    }
  }

  &__email {
    grid-area: email;
    display: flex;
    align-items: center;

    a {
      @include font-main($font-family-main, 16px, 24px, -0.2px);
      text-decoration: none;
      color: $text-color;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }

    &--mod {
      padding-left: 24px;
    }
  }

  &__tel {
    grid-area: tel;

    a {
      @include font-main($font-family-main, 24px, 32px, -0.6px);
      color: $text-color;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }

    &--mod {
      padding-left: 24px;
    }
  }

  &__lang {
    grid-area: lang;
    display: flex;
    justify-content: start;
    align-items: center;

    &--mod {
      padding-left: 24px;
    }
  }

  &__a-lang {
    @include font-main($font-family-main, 16px, 24px, -0.2px);
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &--mod {
      padding-right: 7px;
    }

    &--activ {
      color: $text-light-color;
    }
  }
} /*left-menu*/

@media screen and (min-height: 640px) {
  .left-menu {
    grid-template-rows: 89.46px 1fr 40px 52px 40px 68px;

    & li {
      height: 40px;
      padding: 10px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .left-menu {
    width: 360px;

    &__list-items {
      a.active {
        padding-left: 24px;
      }
    }
  }
}

@media screen and (min-height: 768px) {
  .left-menu {
    grid-template-rows: 89.46px 1fr 40px 52px 40px 88px;

    & li {
      height: 56px;
      padding: 16px 0;
    }
  }
}

@media screen and (min-width: 1120px) {
  .left-menu {
    width: 306px;
    z-index: 0;
    position: sticky;
    top: 0;
    grid-template-rows: 112px 1fr 40px 52px 40px 88px;

    &--mod {
      box-shadow: none;
    }
  }
}
