@import "./vars.scss";

.swiper-container-service {
   height: 222px;

   &--mod {
      padding: 16px 0 6px 8px;
   }

   .swiper-slide {
      width: 271px;
      height: 200px;
      padding-right: 15px;
      padding-bottom: 0;
      background-color: transparent;
      //border: 1px solid;

      &__div-a {
         width: 260px;
         height: 100%;
         border-bottom: 1px solid $border-bottom-color;
         border-radius: 6px;
         position: relative;
         background-color: $ellement-bg-color;
         padding: 16px;

         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .paragraf {
            position: relative;
         }

         span {
            display: block;
            @include font-main($font-family-main, "14px", "18px", "0.2px");
            color: $text-color;
         }
         .span-razdel {
            line-height: 16px;
            color: $text-light-color;
            mix-blend-mode: normal;
            opacity: 0.72;
         }
      }

      &:last-child .swiper-slide__div-a {
         border-bottom: none;
      }
   }

   .menu__block-right {
      height: 100%;
      z-index: 20;
   }
}

.swiper-pagination-service {
   position: static;
   text-align: center;
}

.button-elips {
   width: 119px;
   height: 32px;
   border: none;
   outline: none;
   border-radius: 16px;
   position: absolute;
   right: 0;
   bottom: 0;
   background-color: $button-bg-color;
   cursor: pointer;
   color: $ellement-bg-color;

   transition-property: opacity;
   transition-duration: 0.5s;
   transition-timing-function: ease;

   span {
      margin-left: -28px;

      @include font-main($font-family-main, "12px !important", "24px !important", "-0.15px");
      text-transform: uppercase;
      color: $ellement-bg-color !important;
   }

   &:hover,
   &:focus {
      opacity: 0.5;
   }

   &::before {
      content: "";
      display: block;
      width: 8px;
      height: 2px;
      background-color: $ellement-bg-color;
      position: absolute;
      right: 16px;
      top: 13px;
      transform: rotate(45deg);
   }

   &::after {
      content: "";
      display: block;
      width: 8px;
      height: 2px;
      background-color: $ellement-bg-color;
      position: absolute;
      right: 16px;
      top: 18px;
      transform: rotate(135deg);
   }
}




@media screen and (min-width: 768px) {
   .swiper-container-service {

      height: auto;

      &--mod {
         padding: 16px 24px;
      }

      .swiper-wrapper {
         display: flex;
         flex-direction: column;
         border-radius: 6px;
         background-color: $ellement-bg-color;
         flex-basis: 100%;
         margin-top: 65px;
         padding: 0 16px;
      }

      .swiper-slide {
         width: 100%;
         flex-grow: 1;
         height: 65px;
         background-color: $ellement-bg-color;
         padding: 0;

         &__div-a {
            //border: 1px solid;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid $border-bottom-color;
            border-radius: 0;
            position: relative;
            background-color: inherit;
            padding: 0;

            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: minmax(400px, 50%) minmax(84px, 120px) minmax(210px, 300px);
            align-items: center;

            div {
               position: relative;
            }

            .button-elips {
               bottom: -7px;
            }
         }

         &:not(.swiper-slide:first-child) > .swiper-slide__div-a > div > .span-razdel {
            display: none;
         }
         &:first-child > .swiper-slide__div-a > div > .span-razdel {
            position: absolute;
            top: -65px;
         }
      }

      .menu__block-right {
         display: none;
      }
   }
}


@media screen and (min-width: 1120px) {
   .swiper-container-service {
      &--mod {
         padding: 16px 32px;
      }
   }
}