@media screen and (min-width: 768px) {
   .brands__content,
   .vid_remonta {
      .button-read {
         &--mod {
            margin-left: 32px;
         }
      }
   }

   .brands__title {
      &--mod {
         padding: 16px 24px;
      }
   }

   .swiper-container,
   .swiper-container-vid {
      //margin: 0;
      //padding: 24px 0 24px 24px;
      height: 200px;
      overflow: hidden;

      &--mod {
         margin: 0;
         padding: 24px 0 24px 24px;
      }

      .swiper-wrapper {
         display: flex;
         flex-wrap: wrap;
         //justify-content: space-between;
         justify-content: flex-start;
         margin: 0;
         padding: 0;

         &:after {
            content: "";
            display: block;
            width: 224px;
            height: 1px;
            order: 100;
            margin: 0 24px 16px 0;
         }

         .swiper-slide {
            //margin: 0 24px 16px 0;
            //width: 224px;
            margin: 0 0 16px 0;
            width: 247px;
            //height: 72px;
            padding-right: 23px;

            &--order-2 {
               order: 2;
            }
            &--order-3,
            &--order-viewsonic {
               order: 3;
            }

            & a {
               left: 158px;
            }

            & a::before {
               right: 13px;
               top: 15px;
            }

            & a::after {
               right: 13px;
               top: 20px;
            }
         }
      }

      .menu__block-right {
         display: none;
      }

      &--height {
         height: auto;
      }
   }

   .swiper-pagination,
   .swiper-pagination-vid {
      display: none;
   }
}
