@media screen and (min-width: 768px) {
   .header--mod {
      padding: 0 24px;
   }

   .header-left {
      width: 192px;
      max-width: 192px;
   }

   .header-right__left-buttons {
      display: flex;
   }

   .header__vline--none {
      display: block;
   }

   .title--mod {
      padding: 0 0 0 20px;
   }

   .menu__nav--mod {
      padding: 0 24px;
   }

   .text--mod {
      padding: 0 24px;
   }

   .text__txt {
      width: 40vw;
      height: 160px;
   }

   .foto {
      width: 47vw;
   }
   .foto--mod {
      margin: 0 24px;
   }
}
