
@media screen and (min-height: 640px) {

   .left-menu {
      grid-template-rows: 89.46px 1fr 40px 52px 40px 68px;

      & li {
         height: 40px;
         padding: 10px 0;
      }
   }
}

@media screen and (min-height: 768px) {

   .left-menu {
      grid-template-rows: 89.46px 1fr 40px 52px 40px 88px;

      & li {
         height: 56px;
         padding: 16px 0;
      }
   }
}