@import "./vars.scss";

.header {
   display: flex;
   align-items: center;
   height: 88px;
   width: 100%;

   &--mod {
      background-color: $ellement-bg-color;
      padding: 0 16px;
   }
}

.header-left {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
   flex-basis: 174px;
}

.circle__button {
   width: 40px;
   height: 40px;
   border: none;
   background: none;
   outline: none;
   cursor: pointer;
   opacity: 1;
   transition-property: opacity;
   transition-duration: 1s;
   transition-timing-function: ease;

   img {
      border: none;
      outline: none;
   }

   &:hover,
   &:focus {
      opacity: 0.5;
   }

   &--mod {
      margin-right: 16px;
   }
}

.header__logo {
   width: 96.55px;
   height: 50.81px;

   &--mod {
      margin-right: 16px;
   }
}

.header-right {
   flex-grow: 1;

   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: nowrap;

   &__left-buttons {
      display: none;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
   }

   &__right-buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
      width: 100px;
   }
}

.header__vline {
   width: 2px;
   height: 32px;
   background-color: $border-bottom-color;

   &--mod {
      margin-right: 16px;
   }

   &--none {
      display: none;
   }
}

